@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
} 
*/

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}

nextjs-portal {
  display: none;
}